.title-gradient {
   text-align: center;
   background: linear-gradient(30deg,
         $clr-accent 20%,
         darken($clr-accent, 10) 50%,
         $clr-accent 80%);
   background-size: 200% auto;
   color: #000;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: shine 3s linear infinite;

   @keyframes shine {
      to {
         background-position: 200% center;
      }
   }
}