$clr-primary: #272727;
$clr-secondary: #292E2D;
$clr-terciary: #2D3433;
$clr-terciary-light: #435250;
$clr-dark: #1C1C1C;
$clr-white: #F8F8F8;
$clr-accent: #08FDD8;
$clr-accent-2: #D00D53;
$clr-accent-3: #AA78E9;
$clr-accent-4: #0DD05B;