nav {
   background: none;
   height: 80px;
   transition: 0.5s ease;

   a {
      color: $clr-white;
   }

   .container-fluid {
      max-width: 1200px;
      margin: auto;
   }

   .collapse {
      display: flex;
      justify-content: flex-end;
   }

   .navbar-brand {
      display: flex;
      gap: 1rem;
      align-items: center;

      p {
         margin: 0;
         padding: 0;
      }

      img {
         max-height: 35px;
         transition: 0.3s ease;

         &:hover {
            transform: scale(1.05);
            filter: drop-shadow(0 0 5px rgba($clr-white, 0.8));
         }
      }
   }
}

.scrolled {
   height: 50px;
   background: rgba($clr-terciary, 0.8);
   display: flex;
   align-items: center;
   margin: 0;
   padding: 0;

   a {
      margin: 0;
      padding: 0;
   }

   img {
      height: 25px;
   }

   .navbar-brand {
      gap: 0.5rem;
      font-size: 1rem;
   }

   .navbar-toggler {
      transform: scale(0.8);
   }
}

@media (max-width: 991.98px) {
   .collapse {
      .nav-link {
         width: 100vw;
         text-align: center;
      }
   }

   .collapsing {
      .nav-link {
         width: 100vw;
         text-align: center;
      }
   }
}

@media (max-width: 300px) {
   .navbar-brand {
      p {
         display: none;
      }
   }
}