@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Varela+Round:wght@200;300;400;500;600;700;800;900&display=swap");

$ff-title: "Montserrat", sans-serif;
$ff-text: "Varela Round", sans-serif;

/* CLASSES FOR FONT FAMILY */
//? Headings
.ff-title {font-family: "Montserrat", sans-serif;}
.ff-title-200 {font-family: "Montserrat", sans-serif; font-weight: 200;}
.ff-title-300 {font-family: "Montserrat", sans-serif; font-weight: 300;}
.ff-title-400 {font-family: "Montserrat", sans-serif; font-weight: 400;}
.ff-title-500 {font-family: "Montserrat", sans-serif; font-weight: 500;}
.ff-title-600 {font-family: "Montserrat", sans-serif; font-weight: 600;}
.ff-title-700 {font-family: "Montserrat", sans-serif; font-weight: 700;}
.ff-title-800 {font-family: "Montserrat", sans-serif; font-weight: 800;}
.ff-title-900 {font-family: "Montserrat", sans-serif; font-weight: 900;}

//? Text
.ff-text {font-family: "Varela Round", sans-serif;}
.ff-text-200 {font-family: "Varela Round", sans-serif; font-weight: 200;}
.ff-text-300 {font-family: "Varela Round", sans-serif; font-weight: 300;}
.ff-text-400 {font-family: "Varela Round", sans-serif; font-weight: 400;}
.ff-text-500 {font-family: "Varela Round", sans-serif; font-weight: 500;}
.ff-text-600 {font-family: "Varela Round", sans-serif; font-weight: 600;}
.ff-text-700 {font-family: "Varela Round", sans-serif; font-weight: 700;}
.ff-text-800 {font-family: "Varela Round", sans-serif; font-weight: 800;}
.ff-text-900 {font-family: "Varela Round", sans-serif; font-weight: 900;}